:root {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --main-title-color: #DB00FF;
  --main-title-shadow-color: #FF0070;
  --text-color: #F1B2CE;
  --text-shadow-color: #FF0070;
  --title-decor-color: #000028;
  --title-decor-background-color: #FF0070;
  --font-family: "IBM Plex Mono", monospace;
  --hover-color: rgba(255, 0, 112, 0.4);
  --decorated-element-visibility: visible;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}